.bg {
    &--navy {
        background-color: $navy !important;
    }
    &--carbon-blue {
        background-color: $carbon-blue !important;
    }
    &--gray-blue {
        background-color: $gray-blue !important;
    }
    &--foggy-blue {
        background-color: $foggy-blue !important;
    }
    &--gold {
        background-color: $gold !important;
    }
    &--misty-white {
        background-color: $misty-white !important;
    }
    &--gunmetal-black {
        background-color: $gunmetal-black !important;
    }
    &--white {
        background-color: $white !important;
    }
    &--black {
        background-color: $black !important;
    }
}

.color {
    &--navy {
        color: $navy !important;
    }
    &--carbon-blue {
        color: $carbon-blue !important;
    }
    &--gray-blue {
        color: $gray-blue !important;
    }
    &--foggy-blue {
        color: $foggy-blue !important;
    }
    &--gold {
        color: $gold !important;
    }
    &--misty-white {
        color: $misty-white !important;
    }
    &--gunmetal-black {
        color: $gunmetal-black !important;
    }
    &--white {
        color: $white !important;
    }
    &--black {
        color: $black !important;
    }
}