.headline {
	font-family: $font-title;
	font-size: $font-size-xxl;
	font-weight: 700;
	text-transform: lowercase;
	text-shadow: $heavy-text-shadow;
}

h1 {
	font-family: $font-title;
	font-size: $font-size-xl;
}

h2 {
	font-family: $font-title;
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}