@import url("https://use.typekit.net/sng5tcz.css");

$default-font: "nudista-web", Arial, Verdana, sans-serif;
$secondary-font: "bressay", Times New Roman, serif;

$font-size-default: 14pt;
$font-size-xs: 0.5em;
$font-size-sm: 0.75em;
$font-size-md: 1.75em;
$font-size-lg: 2.5em;
$font-size-xl: 3.7em;
    
$default-line-height: 1.25;