.donation {
    &-level {
        .nf-field-label {
            display: none;
        }
        .btn-donation {
            background-color: $white;
            border:  5px solid $tertiary-color-1;
            padding: $padding-default;
            pointer-events: none;
            color: $white;
            font-family: $headline-font;
            font-weight: 700;
        }
    }
    &-levels {
        .btn-success {
            margin-bottom: $margin-default;
            &.active {
                &:after {
                    content: "\f0d7";
                    display: block;
                    position: absolute;
                    bottom: -20px;
                    z-index: 999;
                    width: 30px;
                    height: 30px;
                    left: 50%;
                    margin-left: -15px;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: $font-size-lg;
                    color: $tertiary-color-1;
                }
            }
        }
    }
}