.modal {
    background-color: rgba($primary-color, 0.25);
    text-align: center;
    padding: 0!important;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
        @media (max-width: #{$screen-xs-max}) {
            height: 0%;
        }
    }
    &-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    &-header {
        background-color: $primary-color;
        color: $white;
        .close {
            @include transition($default-transition);
            color: $white;
            opacity: 0.5;
            &:hover {
                @include transition($default-transition);
                opacity: 1;
            }
            &:focus {
                outline: none;
            }
        }
    }
    &-footer {
    	text-align: left;
    	font-size: $font-size-sm;
    	background-color: $tertiary-color-2-light;
    	p {
    		margin: 0;
    	}
    }
    &-body {
        background-color: $tertiary-color-2-light;
        img {
        	max-height: 60vh;
        }
    }
}