$pwd-green: #00a86b;
$pwd-darkgreen: #007e50;
$pwd-lightgreen: #70ceac;

$pwd-blue: #55a4f2;
$pwd-darkblue: #407bb5;
$pwd-lightblue: #a0ccf8;

$pwd-orange: #fbaf41;
$pwd-darkorange: #bc8331;
$pwd-lightorange: #fdd295;

$white: #fff;
$black: #000;