/* Primary Colors */

$red: #c52f35;
$navy: #1c3354;

/* Secondary Colors */

$foggy-blue: #f0f8f9;
$carolina-blue: #a7c6db;
$pearl-white: #f1f1f1;
$gray: #878c92;
$steel-blue: #477e9f;
$slate-gray: #333;

/* Miscellaneous Colors */

$dark-blue: #0F233C;
$white: #fff;
$black: #000;