h1 {
    font-size: $font-size-xl;
    @media (max-width: #{$screen-xs-max}) {
        font-size: $font-size-lg;
    }
}

h2 {
    font-size: $font-size-lg;
}

body {
    @media (max-width: #{$screen-xs-max}) {
        font-size: 1.25em;
    }
}

.text-transform {
    &--none {
        text-transform: none !important;
    }
    &--uppercase {
        text-transform: uppercase !important;
    }
    &--lowercase {
        text-transform: lowercase !important;
    }
}

.fine-print {
    font-size: $font-size-sm;
    font-style: italic;
    font-family: $headline-font;
    opacity: 0.75;
}

.font-family {
	&--default {
		font-family: $default-font;
	}
	&--headline {
		font-family: $headline-font;
	}
	&--form {
		font-family: $form-font;
	}
}

.headline {
    color: $navy;
    &--underline {
        @extend .headline;
        border-bottom: 4px solid $red;
        padding-bottom: $padding-sm;
        display: inline-block;
    }
}

.text-color {
	&--navy {
	    color: $navy !important;
	}
	&--red {
	    color: $red !important;
	}
	&--foggy-blue {
	    color: $foggy-blue !important;
	}
	&--carolina-blue {
	    color: $carolina-blue !important;
	}
	&--pearl-white {
	    color: $pearl-white !important;
	}
	&--gray {
	    color: $gray !important;
	}
	&--steel-blue {
	    color: $steel-blue !important;
	}
	&--white {
	    color: $white !important;
	}
	&--black {
		color: $black !important;
	}
}

.font-size {
	&--xs {
		font-size: $font-size-xs;
	}
	&--sm {
		font-size: $font-size-sm;
	}
	&--default {
		font-size: $font-size-default;
	}
	&--md {
		font-size: $font-size-md;
	}
	&--lg {
		font-size: $font-size-lg;
	}
	&--xl {
		font-size: $font-size-xl;
	}
}

blockquote {
    font-family: $headline-font;
    font-size: $font-size-md * 1.2;
    border: none;
    padding: 0;
}

@include headings(){
    font-family: $headline-font;
    font-weight: 700;
}
